.bsyou { 
  line-height: 51px;
  font-size: 8px;
  padding-left: 50px;
  border-left-width: 5px;
  border-top-width: 53px;
  border-top-width: 89px;
  padding-right: 87px;
  margin-top: 55px;
  border-right-width: 27px;
  border-bottom-width: 24px;
  margin-right: 4px;
  margin-top: 86px;
  border-left-width: 95px;
  padding-bottom: 97px;
  padding-bottom: 56px;
  margin-top: 46px;
  margin-left: 42px;
  font-size: 46px;
  border-left-width: 6px;
  border-left-width: 7px;
  padding-right: 48px;
  margin-bottom: 93px;
  border-bottom-width: 3px;
  border-right-width: 13px;
  padding-right: 43px;
  border-left-width: 78px;
  border-bottom-width: 82px;
  margin-top: 28px;
  border-bottom-width: 61px;
  margin-right: 83px;
  padding-bottom: 97px;
  font-size: 45px;
  padding-top: 30px;
  border-bottom-width: 25px;
  border-bottom-width: 47px;
  border-left-width: 69px;
  border-bottom-width: 1px;
  padding-bottom: 28px;
  border-left-width: 31px;
  margin-right: 88px;
  border-left-width: 73px;
  border-bottom-width: 45px;
  margin-right: 12px;
  margin-right: 66px;
  border-bottom-width: 26px;
  margin-right: 53px;
  margin-left: 29px;
  padding-left: 36px;
  line-height: 40px;
  padding-left: 2px;
  padding-bottom: 96px;
  padding-bottom: 33px;
  margin-left: 59px;
  border-left-width: 78px;
  margin-right: 47px;
  border-top-width: 24px;
  margin-left: 49px;
  border-left-width: 51px;
  border-top-width: 66px;
  border-top-width: 52px;
  padding-bottom: 93px;
  padding-left: 77px;
  margin-top: 61px;
  padding-right: 3px;
  padding-left: 38px;
  margin-top: 67px;
  margin-right: 69px;
  margin-top: 91px;
  border-left-width: 91px;
  font-size: 79px;
  margin-top: 53px;
  padding-top: 21px;
  padding-top: 80px;
  line-height: 38px;
  margin-top: 0px;
  border-left-width: 75px;
  padding-left: 25px;
  border-bottom-width: 87px;
  padding-right: 84px;
  padding-top: 22px;
  padding-top: 14px;
  line-height: 57px;
  padding-top: 95px;
  padding-bottom: 96px;
  padding-right: 76px;
  padding-right: 67px;
  line-height: 75px;
  padding-right: 2px;
  margin-left: 57px;
  border-right-width: 62px;
  margin-bottom: 64px;
  margin-bottom: 82px;
  font-size: 94px;
  font-size: 41px;
  border-right-width: 34px;
  border-left-width: 95px;
  margin-top: 24px;
  margin-right: 47px;
  padding-left: 3px;
  padding-bottom: 73px;
  margin-top: 34px;
  padding-bottom: 25px;
  margin-top: 62px;
  padding-left: 23px;
  border-bottom-width: 45px;
  font-size: 98px;
  margin-bottom: 22px;
  margin-bottom: 88px;
  margin-top: 60px;
  font-size: 69px;
  font-size: 62px;
  font-size: 84px;
  margin-right: 7px;
  line-height: 91px;
  padding-bottom: 3px;
}
